/* CSS Styling for Jobs */

.app-title {
    margin: 10px 10px 10px 70px;
    font-size: 2rem;
    letter-spacing: -1px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0 1px 6px rgba(0,0,0,0.1);
}

